@font-face {
	font-family: 'Cormorant';
	src: url('./CormorantGaramond-Regular.ttf') format('ttf'),
		url('./CormorantGaramond-Light.ttf'), format('ttf');
	font-weight: normal;
	font-style: normal;
}

/* GLOBAL style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #050609;
	font-family: 'Cormorant' sans-serif;
	font-style: italic;
}

.nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* height: 80px; */
	padding: 10px;
	background-color: #f6f8ed;
	color: #050609;
	z-index: 10;
}

.nav .nav-link {
	padding: 10px;
	font-size: 20px;
	font-style: italic;
	cursor: pointer;
}

.nav .nav-link:hover {
	color: #8a6837;
}

.header {
	width: 100%;
	height: auto;
	padding-top: 45px;
	background: url('./logo.jpg');
	background-color: #f6f8ed;
	background-position: top 45px right 0px;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header img {
	width: 100%;
	max-width: 900px;
	opacity: 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* height: 100dvh; */
	text-align: center;
	color: #e2d6b8;
}

.section-text-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 80px 20px;
}

.section-title {
	padding: 40px 0;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 3px;
}

.section-description {
	max-width: 580px;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 30px;
}

.footer {
	width: 100%;
	padding: 30px 0;
	color: #e2d6b8;
	text-align: center;
	font-style: italic;
	/* letter-spacing: 2px; */
}

/* HOME style */

.img-wrapper {
	min-width: 350px;
	max-width: 100%;
	height: 100%;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	background-position: center;
}

/* MENU style  */
.card-container {
	width: 100%;
	max-width: 1400px;
	height: auto;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-text {
	padding: 40px;
}

.card-title {
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.card-description {
	font-size: 18px;
}

.card-img {
	min-width: 300px;
	max-width: 700px;
	height: auto;
}

.card-img img {
	width: 100%;
	height: auto;
}

/* CONTACT style */
.contact-text {
	max-width: 350px;
	padding-bottom: 20px;
	font-size: 18px;
}

.section-map {
	width: 100%;
}

/* .map-title {
	padding-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
} */

.map {
	position: relative;
	height: 500px;
}

.map iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.section-form {
	width: 100%;
	padding: 20px;
}
.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #e2d6b8;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	width: 100%;
	padding: 10px;
	font-size: 20px;
}

.form-group:last-of-type {
	align-items: center;
}

.form-input,
.form-textarea {
	width: 100%;
	padding: 5px 10px;
	font-size: 18px;
	font-style: italic;
}

.form-label {
	padding-right: 20px;
}

.form-textarea {
	width: 100%;
	min-height: 160px;
	resize: vertical;
}

.form-radio-text {
	text-align: center;
	width: 100%;
}

.form-group-radio {
	/* height: 160px; */
	padding: 20px 0;
}

.form-radio,
.form-radio-label {
	padding: 0 20px;
}

.submit {
	/* align-self: flex-end; */
	padding: 8px 30px;
	background-color: #fff;
	font-size: 18px;
	font-style: italic;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.submit:hover {
	background: #e2d6b8;
}

/* media queries */
@media (min-width: 576px) {
	.section-form {
		max-width: 800px;
	}
	.form {
		flex-direction: row;
	}

	.submit {
		margin-left: auto;
		margin-right: 10px;
	}

	.form-group {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.header {
		background-position: center;
	}
}

@media (min-width: 992px) {
	.section-header {
		flex-direction: row;
	}
	.section-about {
		flex-direction: row-reverse;
	}

	.img-wrapper {
		max-width: 50%;
	}

	.card {
		flex-direction: row;
		/* justify-content: space-evenly; */
	}

	.card-text {
		width: 50%;
	}
	.card-img {
		width: 50%;
	}

	.card:nth-child(odd) {
		flex-direction: row-reverse;
	}
}
